.pro-filter-container{
    margin-left: 200px;
    display: flex;
    gap: 20px;
}
.filter-component{
    margin-top: 140px;
    border:1px solid rgb(240,240,240);
    width: 20%;
    /* border-right: 1px solid gray; */
}

.pro-list{
    width: 70%;
}