.container{
    
    border-color: red;
    display: grid;
    grid-gap:10px
}

.contain{
    
    border-color: red;
    display: flex;
    
    grid-gap:10px
}
.props{
    
    margin: auto;
    width: 70%;
    display: flex;
}